header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 1px -6px 10px rgb(18, 17, 17);
    padding: 30px;
    font-size: 10px;
    width: 100%;
}

h1 {
    font-weight: 800;
}
button {
    border: none;
    background-color: white;
    cursor: pointer;
    font-weight: 500;
    
}
span {
    margin-left: 10px;
}
